Babel==2.14.0
Brotli==1.1.0
Cython==3.0.10
DateTimeRange==2.3.0
GitPython==3.1.43
Jinja2==3.1.3
Markdown==3.6
MarkupSafe==2.1.5
PySocks==1.7.1
PyWavelets==1.6.0
PyYAML==6.0.1
Pygments==2.17.2
Send2Trash==1.8.3
Werkzeug==3.0.2
absl-py==2.1.0
anyio==4.3.0
appdirs==1.4.4
appnope==0.1.4
argon2-cffi-bindings==21.2.0
argon2-cffi==23.1.0
arrow==1.3.0
astropy-iers-data==0.2024.5.20.0.29.40
astropy==6.0.1
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
attrs==23.2.0
audioread==3.0.1
autograd==1.6.2
autopep8==2.1.0
beautifulsoup4==4.12.3
bleach==6.1.0
cached-property==1.5.2
cachetools==5.3.3
certifi==2024.2.2
cffi==1.16.0
cftime==1.6.3
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==3.0.0
comm==0.2.2
contourpy==1.2.1
curve==0.0.7
cycler==0.12.1
dask==2024.4.1
dateparser==1.2.0
debugpy==1.8.1
decorator==5.1.1
defusedxml==0.7.1
docker-pycreds==0.4.0
entrypoints==0.4
et-xmlfile==1.1.0
exceptiongroup==1.2.0
executing==2.0.1
fastjsonschema==2.19.1
flatbuffers==24.3.25
fonttools==4.51.0
fqdn==1.5.1
fsspec==2024.3.1
future==1.0.0
gast==0.4.0
gatspy==0.3
gitdb==4.0.11
google-auth-oauthlib==1.0.0
google-auth==2.29.0
google-pasta==0.2.0
grpcio==1.62.1
gviz-api==1.10.0
h11==0.14.0
h2==4.1.0
h5netcdf==1.3.0
h5py==3.11.0
heartpy==1.2.7
hpack==4.0.0
hrv-analysis==1.0.4
httpcore==1.0.5
httpx==0.27.0
hyperframe==6.0.1
idna==3.6
idna==3.7
importlib_metadata==7.1.0
importlib_resources==6.4.0
install==1.3.5
ipykernel==6.29.3
ipykernel==6.29.4
ipython==8.18.1
isodate==0.6.1
isoduration==20.11.0
jedi==0.19.1
joblib==1.4.0
json5==0.9.24
jsonpointer==2.4
jsonschema-specifications==2023.12.1
jsonschema==4.21.1
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.1
jupyter_core==5.7.2
jupyter_server==2.13.0
jupyter_server_terminals==0.5.3
jupyterlab==4.1.6
jupyterlab_pygments==0.3.0
jupyterlab_server==2.26.0
keras-tuner==1.4.7
keras==2.13.1
kiwisolver==1.4.5
kt-legacy==1.0.5
lazy_loader==0.4
libclang==18.1.1
librosa==0.10.2.post1
llvmlite==0.42.0
locket==1.0.0
lxml==5.2.1
markdown-it-py==3.0.0
matplotlib-inline==0.1.6
matplotlib==3.8.4
mbstrdecoder==1.1.3
mdurl==0.1.2
mistune==3.0.2
ml-dtypes==0.3.2
msgpack==1.0.8
namex==0.0.8
nbclient==0.10.0
nbconvert==7.16.3
nbformat==5.10.4
nest_asyncio==1.6.0
netCDF4==1.6.5
neurokit2==0.2.7
nolds==0.5.2
notebook_shim==0.2.4
numba==0.59.1
numpy==1.24.3
oauthlib==3.2.2
openpyxl==3.1.2
opt-einsum==3.3.0
optree==0.11.0
overrides==7.7.0
packaging==24.0
pandas==2.2.2
pandocfilters==1.5.0
parso==0.8.4
partd==1.4.1
pathlib2==2.3.7.post1
patsy==0.5.6
pexpect==4.9.0
pickleshare==0.7.5
pillow==10.3.0
pip==24.0
pkgutil_resolve_name==1.3.10
platformdirs==4.2.0
plotly==5.22.0
pmdarima==2.0.4
pooch==1.8.1
prometheus_client==0.20.0
prompt-toolkit==3.0.42
prompt-toolkit==3.0.43
protobuf==4.25.3
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
py-ecg-detectors==1.3.5
py-wake==2.5.0
pyEDFlib==0.1.37
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycodestyle==2.11.1
pycparser==2.22
pycwt==0.4.0b0
pyerfa==2.0.1.4
pyflowchart==0.3.1
pyobjc-core==10.2
pyobjc-framework-Cocoa==10.2
pyparsing==3.1.2
pyproj==3.6.1
python-dateutil==2.9.0
python-dateutil==2.9.0.post0
python-json-logger==2.0.7
pytz==2024.1
pyzmq==25.1.2
referencing==0.34.0
regex==2024.5.15
requests-file==2.0.0
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
requests==2.31.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rpds-py==0.18.0
rsa==4.9
scikit-learn==1.4.2
scipy==1.13.0
sentry-sdk==1.45.0
setproctitle==1.3.3
setuptools==69.2.0
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
soundfile==0.12.1
soupsieve==2.5
soxr==0.3.7
stack-data==0.6.2
stack-data==0.6.3
statsmodels==0.14.2
tenacity==8.3.0
tensorboard-data-server==0.7.2
tensorboard==2.13.0
tensorboard_plugin_profile==2.15.1
tensorflow-estimator==2.13.0
tensorflow-io-gcs-filesystem==0.37.0
tensorflow-macos==2.13.0
tensorflow-metal==1.1.0
tensorflow==2.16.1
termcolor==2.4.0
terminado==0.18.1
threadpoolctl==3.4.0
tinycss2==1.2.1
tomli==2.0.1
toolz==0.12.1
tornado==6.4
tqdm==4.66.2
traitlets==5.14.2
typepy==1.3.2
types-python-dateutil==2.9.0.20240316
typing-utils==0.1.0
typing_extensions==4.5.0
tzdata==2024.1
tzlocal==5.2
uri-template==1.3.0
urllib3==2.2.1
vital-sqi==0.1.0
wandb==0.17.0
wcwidth==0.2.13
webcolors==1.13
webencodings==0.5.1
websocket-client==1.7.0
wfdb==4.1.2
wheel==0.43.0
windpowerlib==0.2.2
windproapi==4.0
windrose==1.9.0
wrapt==1.16.0
xarray==2024.3.0
zeep==4.2.1
zipp==3.17.0
zipp==3.18.1